@import "normalize";

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #222;

  overflow-y: scroll;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.cutTextIntoTwoLines {
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.cutTextWithNoWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
