.card {
  width: 270px;
  height: 380px;

  background-color: #f0f0f0;

  &:hover .title {
    color: #38637d;
  }
}

.link {
  display: block;
  height: 100%;
  padding: 20px;
}

.img {
  width: 140px;
  height: 200px;

  margin: 0 auto 40px;

  background-color: #f8f8f8;
  box-shadow: 7px 7px 12px 0px rgba(#222, 0.4);
}

.category {
  text-decoration: underline;
  color: #959595;

  min-height: 20px;
  margin-bottom: 10px;
}

.title {
  font-weight: 700;
  font-size: 18px;

  transition: color 0.1s ease-out;

  margin-bottom: 5px;
}

.authors {
  color: #959595;
}
