.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  position: relative;

  width: 100px;
  height: 70px;

  background-color: #979797;
  border-radius: 4px;
  perspective: 500px;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;

    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-size: 31px 4px;
    background-image: linear-gradient(#ddd 100px, transparent 0),
      linear-gradient(#ddd 100px, transparent 0),
      linear-gradient(#ddd 100px, transparent 0),
      linear-gradient(#ddd 100px, transparent 0),
      linear-gradient(#ddd 100px, transparent 0),
      linear-gradient(#ddd 100px, transparent 0);
    background-position: 7px 15px, 7px 30px, 7px 45px, 52px 15px, 52px 30px,
      52px 45px;

    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  &:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    width: calc(50% - 5px);

    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-size: 31px 4px;
    background-image: linear-gradient(#ddd 100px, transparent 0),
      linear-gradient(#ddd 100px, transparent 0),
      linear-gradient(#ddd 100px, transparent 0);
    background-position: 50% 15px, 50% 30px, 50% 45px;

    border-radius: 4px;

    transform: rotateY(0deg);
    transform-origin: left center;

    animation: paging 1s linear infinite;
  }
}

@keyframes paging {
  0% {
    transform: rotateY(0deg);
    background-color: #f4f4f4;
  }
  50% {
    transform: rotateY(-90deg);
    background-color: #fff;
  }
  100% {
    transform: rotateY(-180deg);
    background-color: #f4f4f4;
  }
}

.label {
  margin-top: 15px;

  font-weight: 700;
  font-size: 18px;
}
